#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(13, 38, 111, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
}

#navigation li {
  float: left;
  border-right: 1px solid white;
}

#navigation a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.cover {
  background-image: url("https://images5.alphacoders.com/704/704263.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}

.heading {
  font-family: Spirax, cursive;
  text-align: center;
  line-height: 12px;
  margin-top: 60px;
  border-style: double;
  border-width: thick;
  border-top: rgba(255, 0, 0, 0.5);
  border-left: rgba(255, 0, 0, 0.5);
  border-right: rgba(255, 0, 0, 0.5);
}

#motto {
  line-height: 5px;
  text-align: center;
  font-style: italic;
  margin: 10px 0;
}

h3 {
  margin-top: 7px;
}

.post {
  background-image: linear-gradient(#FFA45C, #E16501);
  margin-top: 50px;
  border: 3px solid black;
  padding-top: 1px;
}

#list li {
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 32px;
  }

img.jail {
  width: 75%;
}

.gift {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  text-align: left;
  font-style: normal;

}

img.babe {
  padding: 0px;
  border: 3px solid black;
  width: 25%;
}

table {
  margin-top: 60px;
}

thead th {
  background: rgb(49, 100, 181);
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 70%;
}

th, td {
  font-family: sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: center;
  width: 25%;
}

th {
  font-weight: bold;
}

tfoot {
  font-size: 18px;
}

#price {
  background: #06C957;
}
